<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- The contents of this file will be loaded for each web application --><Context>
    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
    <Resource auth="Container" driverClassName="org.postgresql.Driver" maxIdle="10" maxTotal="2" maxWaitMillis="10000" name="jdbc/postgres-pool" password="test" type="javax.sql.DataSource" url="jdbc:postgresql://db-host:5432/test" username="test"/>
</Context>
